Checks: >
    *,
    -altera-struct-pack-align,
    -fuchsia-default-arguments-calls,
    -google-objc-*,
    -llvm-*,
    -llvmlibc-*,
    -misc-misplaced-const,
    -modernize-use-trailing-return-type,
